img {
    min-width: 350px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}
ion-content {
    min-width: 350px;
    margin: auto;
    display: block;
    text-align: center;
}
ion-button {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 15%;
    margin-right: 15%;
    min-width: 275px;
    display: block;
}
ion-datetime {
    padding-right: 1em;
    margin: auto;
    text-align: center;
}